.img-News {
  width: 30%;
  height: 30px;
}
.ant-table-content {
  padding: 20px 40px !important;
}
.search-system-services {
  position: relative !important;
}

.create-new {
  padding: 8px 16px !important;
  margin: 0 -66px !important;
}
